.registerLogo {
    color: #8b5e3c;
    margin: 0;
    font-size: 70px;
    z-index: 1;
    position: absolute;
    left: 40px;
    top: 20px;
    display: flex;
    align-items: center;
}

.registerContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #000;
}

.registerBackPhoto {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.registerLogoImage {
    font-size: 3rem;
    margin-right: 20px;
}

.registerForm {
    background-color: rgba(77, 61, 54, 0.85);
    padding: 70px 25px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    z-index: 1;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
    width: 500px;
    height: 400px;
}

.registerInput {
    padding: 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 30px;
    background-color: #6d574f;
    color: #fff;
}

.registerSubmitButton {
    background-color: #6d574f;
    border: none;
    padding: 12px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    height: 120px;
}

.registerPawIcon {
    width: 60px;
    height: 60px;
}
